body {
      font-family: Arial, sans-serif;
       color: white;
      margin: 0;
      padding: 0;
      background-image: url(1.webp);
    }
    header {
      padding: 15px;
      text-align: center;
    }
    nav a {
      color: #94a3b8;
      text-decoration: none;
      margin: 0 10px;
      font-weight: bold;
    }
    nav a:hover {
      color: #0ea5a3;
      height: 30px;
      width: 30px;
    }
    main {
      padding: 20px;
    }
    section {
      background-color: #0b1220;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 20px;
    }
    h1, h2, h3 {
      color: #0ea5a3;
    }
    footer {
      text-align: center;
      background-color: #0b1220;
      padding: 15px;
      color: #94a3b8;
    }
    ul {
      list-style-type: square;
    }
    h1:hover{
      animation: movelogo 2s infinite alternate;
    }
    @keyframes movelogo {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(10px);}
    100% { transform: translateX(50px); }
}